*.o
*.vcd
*.log
*.jou
*.pb
*.pyc
microcode.out
optab.out
*.trace
work-obj93.cf
testbench
.DS_Store
xsim.dir
tests/*/gen-test-vectors
tests/*/modelsim/work/
tests/*/vhdl/modelsim/work/
tests/*/vcs/csrc/
tests/*/vcs/simv
tests/*/vcs/simv.daidir/
tests/*/vcs/ucli.key
microcode/*.json
microcode/*.lst
tests/microcode/*.json
tests/microcode/*.lst
toolchain/as/as
toolchain/as/dis
toolchain/ld/ld
